body{
    box-sizing: border-box;
    background: rgba(229,133,78,0.30) url("bg.jpg") no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    height: 100vh;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white url("yo.gif") no-repeat center;
    z-index: 20;
}
a{
    color: black;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 40px;
    border: 8px inset rgba(50,54,72,0.8);;
    margin: 15vh auto 0 auto;
    background: linear-gradient(to top left, rgba(176,184,219,0.8), rgba(227,229,248,0.8));
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
.heading{
    text-align: center;
    font-size: 17px;
    margin-bottom: 20px;
}
.name{
    display: flex;
    flex-direction: column;
}
input{
    width: 200px;
    margin-bottom: 15px;
    border: none;
    border-radius: 50px;
    background: rgba(0,0,0,0.6);
    height: 50px;
    color: white;
    font-size: 15px;
    padding-left: 20px;
}
input[type="text"],input[type="password"],button{
    outline: none;
}
input::placeholder{
    color: white;
}
.heading h1{
    margin: 0 auto;
}
button{
    margin-top: 7px;
    border: none;
    background: linear-gradient(to right, #ea9f73, #f3c8af);
    height: 40px;
    width: 120px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 17px;
    cursor: pointer;
}
.social{
    margin-top: 25px;
}
.box{
    display: flex;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    margin: 0 12px;
}
.check{
    width: initial;
    height: initial;
    cursor: pointer;
    display: inline-block;
}
@media only screen and (min-width: 764px) and (max-width: 1025px) {
    .main-content{
        width: 300px;
        height: 400px;
        box-shadow: 12px 12px 12px #323648;
    }
    .heading{
        font-size: 20px;
        margin-bottom: 22px;
    }
    input{
        width: 220px;
    }
    button{
        width: 130px;
    }
    .fa{
        font-size: 25px;
    }
}
@media only screen and (min-width: 1026px){
    .main-content{
        width: 300px;
        height: 400px;
        margin: 15vh 13vw 0 0;
        float: right;
        box-shadow: 12px 12px 12px #323648;
    }
    .heading{
        font-size: 20px;
        margin-bottom: 22px;
    }
    input{
        width: 220px;
    }
    button{
        width: 130px;
    }
    .fa{
        font-size: 25px;
    }
}
